* {
    margin: 0;
    background-color: aliceblue;
    scroll-behavior: smooth;
  }
  
  .img {
    margin: 15px 10px 5px 20px;
  }
  
  .row-top {
    display: flex;
    justify-content: center;
  }
  
  .row-top img {
    width: 100%;
  }
  
  .row-middle {
    display: flex;
    justify-content: center; 
    height: fit-content;
  }
  
  .row-middle img {
    width: 100%;
  }
  
  .sub__middle {
    display: flex;
    justify-content: center;
    height: fit-content;
  }
  
  .sub__middle img {
    width: 100%;
  }
  
  .sub__middle__c1 {
    display: block;
  }
  
  .sub__middle__c1 img {
    width: 100%;
  }
  
  .sub__middle__c2 {
    display: block;
  }
  
  .sub__middle__c2 img {
    width: 100%;
  }
  
  .sub__middle__between img {
    width: 100%;
  }
  
  .sub__middle__right__c1 {
    display: flex;
  }
  
  .sub__middle__right__c1 img {
    width: 100%;
  }
  
  .sub__middle__right__row {
    display: flex;
  }
  
  .sub__middle__right__row img {
    width: 100%;
  }
  
  .row-bottom {
    display: flex;
    height: fit-content;
  }
  
  .row-bottom img {
    width: 100%;
  }
  
  .feature {
    margin: 2.5px;
  }
  
  .feature img {
    border-radius: 25px;
    margin: 4px 3px;
    transition: transform 0.6s ease, box-shadow 0.6s ease, border 3s ease;
  }
  
  .feature:hover {
    transform: scale(1.1);
    border-radius: 17px;
    z-index: 10;
    
    box-shadow: 1px 2px 3px rgba(36, 36, 36, 0.408), 
                0 0 20px rgba(255, 0, 0, 0.8),
                0 0 40px rgba(0, 255, 0, 0.8),
                0 0 60px rgba(0, 0, 255, 0.8);
    transition: transform 0.6s ease, box-shadow 0.6s ease, border 3s ease;
  }
  
  .sub__middle__between:hover {
    z-index: 1;
    box-shadow: 0px 2px 3px rgba(36, 36, 36, 0.195);
  }
  
  #row_botton_left {
    margin-left: 1%;
    position: relative;
    padding-top: 2px;
    border-radius: 20%;
    top: -68px;
    background: transparent;
  }
  
  #row_botton_right {
    position: relative;
    padding-top: 2px;
    border-radius: 20%;
    top: -20px;
    background: transparent;
  }
  